[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/themes/gs-starter-theme"]
	path = content/themes/gs-starter-theme
	url = https://github.com/growthspark/gs-starter-theme
